* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    margin: 100px;
}

a {
    color: #616161;
}

h1 {
    font-size: 62px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #616161;
    margin-bottom: 10px;
}

h2 {
    font-size: 52px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #616161;
    margin-bottom: 50px;
}

.mainGif {
    width: auto;
    height: 500px;
}