* {
    padding: 0;
    margin: 0;
}

body {
    background: url('maksym-zakharyak-6VBRu8jR8to-unsplash.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    color: #fff;
    font-family: 'proxima-nova', sans-serif;
}

.whiteLinks {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: all 0.5s;
}

.whiteSVGLinks {
    fill: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: all 0.5s;
}

.whiteLinks:hover {
    color: rgba(255, 255, 255, 1);
}

.whiteSVGLinks:hover {
    fill: rgba(255, 255, 255, 1);
}

.typeform-share {
    display: inline-block;
    text-decoration: none;
    
    border: 4px solid #303984;
    color: #fff;
    cursor: pointer;
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    margin: 0;
    height: 45px;
    padding: 0px 33px;
    border-radius: 25px;
    max-width: 100%;
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.5s;
}

.typeform-share:hover {
    color: #fff;
    background-color: #303984;
}


.mainContent {
    width: 65%;
}


@media screen and (max-width: 768px) {
    .mainContent {
        width: 95%;
    }
}