* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    user-select: none;
}

main {
    margin: 0 325px 0 325px;
}

nav {
    background: #ffffff;
    margin-bottom: 50px;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

.navlinks {
    padding: 15px;
    color: #616161;
    font-size: 20px;
}

.navlinks a {
    text-decoration: none;
}

.navlinks a:visited {
    color: #616161;
}

.navlinks a:hover {
    color: #45425B;
}


ul.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.description {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.gifContainer {
    display: flex;

}

.headerIMGBG {
    width: 100%;
    transform: rotate(180deg);
}

.headerGIF {
    width: auto;
    height: 420px;
}

.dividerGroup {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px 0 0 0;
}

.divider {
    width: 80%;
    height: 4px;
    background-color: #45425B;
}

.description h1 {
    color: #45425B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 68px;
    margin-bottom: 50px;
}

.description h2 {
    max-width: 500px;
    color: #616161;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 40px;
}

.description a {
    color: #616161;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
}

.description p {
    color: #616161;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    margin: 0 5px 0 5px;
}

ul.descriptionLinks {
    display: flex;
    flex-direction: row;
}



.descriptionLinks li a:visited {
    color: #616161;
}

.descriptionLinks li a:hover {
    color: #45425B;

}

h2.contact {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0 0 0;
    color: #45425B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 52px;
    text-decoration: none;
}

h3.contactMe {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    color: #45425B;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 34px;
    text-decoration: none;
}

.bottomnav {
    margin: 50px 325px 0 325px;
}

.bottomnavgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #616161;
    text-decoration: none;
}

.legalNoticeGroup {
    display: flex;
    flex-direction: row;
}

.bottomnavLinkGroup {
    display: flex;
    flex-direction: row;
}

.bottomnavLinks {
    margin: 0 5px 0 5px;
}

.bottomnavLinks a:link {
    text-decoration: none;
    color: #616161;
}

.bottomnavLinks a:visited {
    color: #616161;
}

.bottomnavLinks a:hover {
    color: #45425B;
}

footer {
    display: flex;
    justify-content: center;
}

.footerIMGBG {
    width: 100%;
}